---
import '@/styles/global.css';
import { ArrowRightIcon } from '@phosphor-icons/react';
import { Button } from '@/components/ui/button';
import { Card, CardHeader, CardContent } from '@/components/ui/card';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { Navbar } from '@/components/ui/navbar';
import { ScrollToTopButton } from '@/components/scroll-to-top-button';
import { Spacer } from '@/components/ui/spacer';
import config from '@/config';
import Footer from '@/components/ui/footer.astro';
import FormattedDate from '@/components/blog/formatted-date.astro';
import MainLayout from '@/layouts/main.astro';
import type { ImageMetadata } from 'astro';

const sortByDate = (a: any, b: any) =>
  new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf();
const posts = (await getCollection('blog')).sort(sortByDate);
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/blog/covers/*.{jpeg,jpg,png,gif}'
);
const postImages = posts.map((post) => {
  const cover = post.data.cover;
  if (images[`/src/assets/blog/covers/${cover}`]) {
    return images[`/src/assets/blog/covers/${cover}`];
  }
  throw new Error(`Cover image for blog ${post.data.title} not found`);
});
---

<MainLayout title="Blog">
  <Navbar client:load />
  <section
    class="mx-auto flex w-10/12 flex-col items-start py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
  >
    <h1
      class="text-text-1 mx-auto text-center text-5xl font-semibold md:mx-0 md:text-start"
    >
      Our latest <span class="gradient-text">news</span>
    </h1>
    <Spacer />
    <div
      class="flex w-full flex-col items-start justify-between gap-6 md:flex-row"
    >
      <h3 class="text-text-2 mx-auto text-center text-lg md:mx-0 md:text-start">
        Stay up to date on all things Shorebird with our latest blog posts.
      </h3>
      <a href={config.newsletterSubscriptionUrl} class="w-full md:w-auto">
        <Button variant="outline" className="w-full font-light">
          Join our newsletter <ArrowRightIcon
            className="size-5"
            weight="bold"
          />
        </Button>
      </a>
    </div>
    <Spacer className="h-10" />
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      {
        posts.map((post, index) => (
          <a href={`/blog/${post.id}`} class="hover:no-underline">
            <Card className="gap-2 py-0 cursor-pointer border-2 border-border-1 hover:border-accent-secondary-1">
              <CardHeader className="p-0">
                <Image
                  src={postImages[index]()}
                  alt={`${post.data.title} cover image`}
                  class="w-full rounded-xl object-cover"
                />
              </CardHeader>
              <CardContent className="p-4">
                <div class="flex flex-col gap-3">
                  <p class="text-text-2 text-sm">
                    <FormattedDate date={post.data.date} />
                  </p>
                  <h1 class="text-text-1 text-xl hover:underline">
                    {post.data.title}
                  </h1>
                </div>
                <p class="text-text-2 overflow-hidden text-ellipsis whitespace-nowrap">
                  {post.data.description}
                </p>
              </CardContent>
            </Card>
          </a>
        ))
      }
    </div>
  </section>
  <Footer />
  <ScrollToTopButton client:load />
</MainLayout>
