---
import '@/styles/global.css';
import { Button, GradientOutlineButton } from '@/components/ui/button';
import { Card } from '@/components/ui/card';
import { Ellipse } from '@/components/ellipse';
import { FlutterLogo } from '@/components/logos/flutter-logo';
import { Image } from 'astro:assets';
import { LinkedInLogo } from '@/components/logos/linkedin-logo';
import { Markdown } from '@/components/ui/markdown';
import { Navbar } from '@/components/ui/navbar';
import { Spacer } from '@/components/ui/spacer';
import bryanHeadshot from '@/assets/team/bryan-headshot.png';
import config from '@/config';
import ericHeadshot from '@/assets/team/eric-headshot.jpeg';
import felixHeadshot from '@/assets/team/felix-headshot.jpeg';
import Footer from '@/components/ui/footer.astro';
import MainLayout from '@/layouts/main.astro';
import tomHeadshot from '@/assets/team/tom-headshot.jpg';

const team = [
  {
    name: 'Eric Seidel',
    title: 'Founder',
    bio: 'Founder of [Flutter](https://flutter.dev) & former Director of Engineering for Flutter/Dart at Google.',
    linkedIn: 'https://www.linkedin.com/in/ericseidel',
    headshot: ericHeadshot,
  },
  {
    name: 'Felix Angelov',
    title: 'Founding Engineer',
    bio: 'Creator of [Bloc](https://github.com/felangel/bloc) & [Mason](https://github.com/felangel/mason). Former Principal Engineer at [Very Good Ventures](https://verygood.ventures).',
    linkedIn: 'https://www.linkedin.com/in/felix-angelov',
    headshot: felixHeadshot,
  },
  {
    name: 'Bryan Oltman',
    title: 'Founding Engineer',
    bio: "Former architecture lead for Google's internal-facing enterprise [Flutter](https://flutter.dev) team.",
    linkedIn: 'https://www.linkedin.com/in/bryanoltman',
    headshot: bryanHeadshot,
  },
  {
    name: 'Tom Arra',
    title: 'Founding Operations Lead',
    bio: 'Former Director of Product Development at [Very Good Ventures](https://verygood.ventures).',
    linkedIn: 'https://www.linkedin.com/in/tomarra',
    headshot: tomHeadshot,
  },
];
---

<MainLayout title="About Us">
  <Navbar client:load />
  <section
    class="mx-auto flex w-10/12 flex-col py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
  >
    <h1
      class="text-text-1 text-center text-5xl md:px-24 lg:px-40 font-semibold"
    >
      We help businesses <span class="gradient-text">succeed</span>
      with <span class="inline-block"
        ><FlutterLogo className="size-10 inline" /> Flutter</span
      >
    </h1>
    <Spacer className="h-18 md:h-24" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 w-full">
      <div class="flex flex-col gap-2">
        <h2 class="text-3xl">Our Mission</h2>
        <p class="text-text-2">
          Shorebird was started to solve problems others can't or won't solve
          with Flutter and to bring the benefits of multi-platform development
          to the many millions of developers who are still stuck on
          single-platform toolchains. Every interactive pane of glass should
          deliver great user experiences, and to do that, Flutter is the best
          tool we have so far. Shorebird is here to help.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="text-3xl">Why Shorebird</h2>
        <p class="text-text-2">
          Shorebird exists because we're frustrated that the world wastes years
          of human life, writing the same thing multiple times. It's important
          that Shorebird is a company. We're exploiting capitalism to align
          incentives behind the world adopting multi-platform. Flutter and other
          multi-platform solutions have suffered from a lack of economic
          incentives. Shorebird is here to change that.
        </p>
      </div>
    </div>
    <Spacer className="h-18" />
    <div
      class="mx-auto flex flex-col md:flex-row items-center justify-center gap-2 text-center"
    >
      <FlutterLogo className="inline h-6 w-6" />
      <span class="text-text-1">
        Built by the same people who built Flutter
      </span>
    </div>
    <Spacer />
    <h1 class="text-text-1 text-4xl text-center">Our Team</h1>
    <Spacer className="h-8" />
    <div class="grid grid-cols-2 gap-8 lg:grid-cols-4">
      {
        team.map((member, index) => (
          <div
            id={`member-${index}`}
            class="flex flex-col items-center mx-auto justify-center gap-1 max-w-[200px]"
          >
            <Image
              class="object-cover rounded-xl"
              src={member.headshot}
              alt={`${member.name} headshot`}
            />
            <Spacer className="h-2" />
            <div class="flex flex-row w-full justify-between">
              <p>{member.name}</p>
              <a href={member.linkedIn}>
                <LinkedInLogo className="text-text-2 size-4" />
              </a>
            </div>
            <div class="flex flex-row w-full justify-between text-text-2 text-sm">
              <Markdown content={member.bio} />
            </div>
          </div>
        ))
      }
    </div>
    <Spacer className="h-18" />
    <div class="mx-auto flex justify-center items-center py-6 md:py-12 w-full">
      <Card
        className="w-full p-6 lg:p-16 flex flex-col items-center justify-center"
      >
        <h2 class="text-text-1 text-4xl text-center">
          Build for <span class="gradient-text">users</span>, not platforms.
        </h2>
        <p class="text-text-2 text-center">
          Shaping the future of multi-platform, one solution at a time.
        </p>
        <div
          class="flex w-full items-center justify-center flex-col md:flex-row gap-4 mt-6"
        >
          <a href={config.consoleUrl} class="w-full md:w-auto">
            <GradientOutlineButton className="font-light w-full">
              <Ellipse /> Try it now
            </GradientOutlineButton>
          </a>
          <a href="/jobs" class="w-full md:w-auto">
            <Button variant="outline" className="font-light w-full">
              View open positions
            </Button>
          </a>
        </div>
      </Card>
    </div>
    <div>

# About Shorebird

Shorebird is a small, venture-funded startup (est Jan 2023) making Flutter the
default way to write apps. We have a successful Code Push product for Flutter
that lets businesses update their apps instantly on users phones. We've just
(Aug 2025) released a continuous integration product. We're building out a suite
of offerings, and aspire to provide complete solutions to developers to support
the world's transition to multi-platform development as the default.

## Problem: App Development is Broken

App development is broken. The default answer to "write an app" is write it once
for iOS, once for Android, and once for the web (possibly more places).
Businesses write the same app at least twice at 2x the necessary costs, with
redundant code-bases, teams, bug lists.

This is bonkers. Not only is bad for businesses (lots of waste) and developers
(headaches in re-implementation and coordination), but also users (why can't my
friend install your app because their phone has a different brand or why does it
run so much better/worse than my copy of the app?). As a society, we are wasting
countless years of human life in this model, for bad reasons.

For a decade, I (and many others) tried to make the Web (PWAs, etc) solve "write
once; run anywhere" and failed. Hence we built Flutter to let Google and
everyone write high-quality app experiences and have them go everywhere.

Flutter is now the most popular solution for writing multi-platform apps. Over a
million developers use Flutter every month, and growing. Flutter has proven that
high-quality multi-platform is possible.

In 2024, almost
[30% of iOS free apps submitted](https://medium.com/flutter/dart-flutter-momentum-at-google-i-o-2025-4863aa4f84a4)
used Flutter. However, still many apps don't use Flutter. And some that do,
sometimes struggle. Adopting Flutter can be challenging since the default
offerings from Google are sometimes an ill fit or incomplete for those operating
outside Google.

The Flutter project itself is also sometimes a funny fit inside Google (the home
of Android, Ads and Chrome) and long term would benefit from an economic entity
wholly aligned with Flutter's goals (not just trying to use it to sell Ads or
Cloud).

All these problems are why, after taking Flutter as far as I could within
Google, I left to build a company around Flutter: Shorebird.

## Solution: The Flutter Company

Shorebird is filling in the gaps businesses need to be successful with Flutter
development. Just like how businesses "buy" Linux with Redhat, most businesses
will chose to buy Flutter solutions from Shorebird rather than cobbling together
Flutter solutions themselves. That means we'll offer a suite of products to
ensure you have a GREAT experience delivering apps to your users. The first
problem we've solved is code push.

Aspiring to be "the Flutter company" means building an economic entity whose
success is tied to Flutter, to finally help the world stop writing everything
twice.

Google has been great to Flutter, but Flutter within Google is bound by Google's
own incentives, which don't always align with that of Flutter's millions of
customers outside of Google. We're trying to build a company whose success is
aligned with the success of the businesses and developers using Flutter. A
company trusted to provide high quality services around Flutter, and eventually
fund the development of Flutter itself, if necessary.

If we're successful, Shorebird will eventually be synonymous with Flutter. We
hope to support every one of the millions of Flutter developers and the
businesses behind them.

## Where we're at

Shorebird incorporated January 2023. We've shipped our first product (code push)
and now support around 3000 monthly active users, with about 600 paying
customers and strong monthly growth. We raised several million dollars from a
top-5 VC and great investors who care about our mission. We're not profitable
yet, but expect to be within the next year and have plenty of runway to get
there.

We're only 4 people right now. All of us have engineering backgrounds. As our
customers have grown, so has our engineering load and we're seeking to hire
another full-stack engineer to help us scale to even larger customers. We're
also seeking to hire a marketing lead

In comparison to two years ago, we've dramatically de-risked the product and
market -- we have a working thing, that people want to buy. But there is still
much to do, so many choices to make, and so much to grow. That's where you come
in.

## Learn more

We're a default-public organization, we operate on a
[public discord](https://discord.gg/shorebird), our
[source](https://github.com/shorebirdtech/) and
[planning](https://github.com/orgs/shorebirdtech/projects) are public. We're an
all remote, distributed team.

More information about the company we're trying to build can be found in our
[public handbook](https://github.com/shorebirdtech/handbook)

## Location

We're fully remote. Current team members are located near Palo Alto, Chicago,
and Brooklyn (GMT-8 through GMT-5).

Our hiring is currently focused in the North America, but we hope to expand
globally over time. We are willing to consider candidates in GMT-10 through
GMT-3. We communicate exclusively through Discord (both in public and private),
including often leaving video calls open in the background while we work
independently.

We get together 3-4x per year as a company, all flying to some US city for a
week.

</div>
  </section>
  <Footer />
</MainLayout>
