---
import { ArrowRight } from '@phosphor-icons/react';
import { Button } from '@/components/ui/button';
import { Card, CardHeader, CardContent } from '@/components/ui/card';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { Spacer } from '@/components/ui/spacer';
import FormattedDate from '@/components/blog/formatted-date.astro';

const sortByDate = (a: any, b: any) =>
  new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf();
const stories = (await getCollection('successStories')).sort(sortByDate).slice(0, 2);
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/success-stories/covers/*.{jpeg,jpg,png,gif}'
);
const coverImages = stories.map((story) => {
  const cover = story.data.cover;
  if (images[`/src/assets/success-stories/covers/${cover}`]) {
    return images[`/src/assets/success-stories/covers/${cover}`];
  }
  throw new Error(`Cover image for story ${story.data.title} not found`);
});
---

<section
  id="success-stories"
  class="mx-auto flex w-10/12 flex-col items-start py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
>
  <h1 class="text-text-1 text-4xl">Success stories</h1>
  <Spacer />
  <div
    class="flex w-full flex-col items-start justify-between gap-6 md:flex-row"
  >
    <h3 class="text-text-2 text-lg lg:text-center">
      See how everyone from small teams to global companies are using Shorebird
      today.
    </h3>
    <a href="/success-stories" class="w-full md:w-auto">
      <Button variant="outline" className="w-full font-light">
        View all stories <ArrowRight className="size-5" weight="bold" />
      </Button>
    </a>
  </div>
  <Spacer className="h-10" />
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    {
      stories.map((post, index) => (
        <a href={`/success-stories/${post.id}`} class="hover:no-underline">
          <Card className="gap-2 py-0 cursor-pointer border-2 border-border-1 hover:border-accent-secondary-1">
            <CardHeader className="p-0">
              <Image
                src={coverImages[index]()}
                alt={`${post.data.title} cover image`}
                class="w-full rounded-t-xl object-cover"
              />
            </CardHeader>
            <CardContent className="p-4">
              <div class="flex flex-col gap-3">
                <h1 class="text-text-1 text-xl hover:underline">
                  {post.data.title}
                </h1>
              </div>
              <p class="text-text-2 text-ellipsis line-clamp-2">
                {post.data.description}
              </p>
            </CardContent>
          </Card>
        </a>
      ))
    }
  </div>
</section>
