---
import { Card, CardHeader, CardContent } from '@/components/ui/card';
import { Image } from 'astro:assets';
import { Spacer } from '@/components/ui/spacer';
import JasonRai from '@/assets/testimonials/jason-rai.png';
import RenanAraujo from '@/assets/testimonials/renan-araujo.png';
import TahaTesser from '@/assets/testimonials/taha-tesser.png';
import EsraKadah from '@/assets/testimonials/esra-kadah.png';
import ScottMacDougall from '@/assets/testimonials/scott-macdougall.jpeg';
import DavidPaul from '@/assets/testimonials/david-paul.jpg';

const testimonials = [
  {
    name: 'Jason Rai',
    title: 'Head of Frontend Engineering, Kijiji',
    quote:
      "We use Shorebird at Kijiji on Android and it's been awesome. Working well at a very large scale.",
    image: JasonRai,
  },
  {
    name: 'Renan Araujo',
    title: 'Senior Engineer, Superlist',
    quote:
      'Shorebird was very useful for distributing updates to my Flame game with over 10k players. Works like a charm.',
    image: RenanAraujo,
  },
  {
    name: 'Taha Tesser',
    title: 'Engineer, Codemagic',
    quote:
      'Shorebird solves one of the biggest challenges: bringing over-the-air updates instantly to your users. Backed by an amazing team.',
    image: TahaTesser,
  },
  {
    name: 'Esra Kadah',
    title: 'Senior Mobile App Developer, Antigua Mobile',
    quote:
      'With our client’s app dependency on real-time task management, waiting for app store approvals wasn’t an option. Any downtime could lead to lost revenue for their customers. Shorebird’s over-the-air patches saved us multiple times with critical fixes.',
    image: EsraKadah,
  },
  {
    name: 'Scott MacDougall',
    title: 'Head of Engineering, Mobile at Kijiji',
    quote:
      'Over time, we have realized that we could Shorebird a fix quickly to all of our users, which made an enormous impact on customer satisfaction. That’s now become a default phrase in our development team, as it’s a great tool to have in our toolbox.',
    image: ScottMacDougall,
  },
  {
    name: 'David Sylvester-Paul',
    title: 'CTO at EasySpend',
    quote:
      'In the past, we often wondered how other highly rated mobile apps updated their features without forcing users to manually download an update from the store. That curiosity led us to Shorebird, and ever since, we have implemented it in all of our applications.',
    image: DavidPaul,
  },
];
---

<section
  id="testimonials"
  class="mx-auto flex w-10/12 flex-col py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
>
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-text-1 text-4xl">Testimonials</h1>
    <Spacer />
    <h3 class="text-text-2 text-center text-lg">
      See what the community has to say about Shorebird.
    </h3>
    <Spacer className="h-10" />
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
      {
        testimonials.map((testimonial, index) => {
          return (
            <Card>
              <CardHeader>
                <div class="flex flex-row items-center gap-2">
                  <Image
                    class="size-10 rounded-full"
                    src={testimonial.image}
                    alt={testimonial.name}
                  />
                  <div class="flex flex-col">
                    <p>{testimonial.name}</p>
                    <p class="text-text-2 text-sm">{testimonial.title}</p>
                  </div>
                </div>
              </CardHeader>
              <CardContent>{testimonial.quote}</CardContent>
            </Card>
          );
        })
      }
    </div>
  </div>
</section>
