---
// cspell:words shorebirddev
import '@fontsource/inter';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '@fontsource/inter/900.css';
import { config } from '~/config';
import Author, { authors } from '~/components/Author.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import { Navbar } from '~/components/Navbar';
import { Footer } from '~/components/Footer';
import { BlogFooterPitch } from '~/components/BlogFooterPitch';

import '../styles/Theme.css';

const { title, description, author, date, cover, coverAlt } = Astro.props;

// og:image is expected to be an absolute url beginning with http or https
const coverUrl = new URL(cover ? cover : '/open-graph.png', Astro.url.origin);
// Always use Astro.site (production url) rather than a test domain.
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
// See also https://ogp.me/#type_article
// Could also add og:tags here if we added them to the frontmatter for the
// individual blog posts.  I'm not sure what, if any, sites crawl for the
// og:tags property.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="description" property="og:description" content={description} />
    <meta name="image" property="og:image" content={coverUrl} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={title} />
    <meta name="twitter:image" content={coverUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content={date} />
    <meta property="article:author" content={author} />
    <meta property="article:section" content="Technology" />
    <meta name="twitter:site" content="@shorebirddev" />
    {
      authors[author].twitter && (
        <meta name="twitter:creator" content={authors[author].twitter} />
      )
    }
    <script
      defer
      data-domain="shorebird.dev"
      src="https://plausible.io/js/script.tagged-events.js"></script>
    <title>{`Blog | ${title}`}</title>
  </head>
  <body>
    <Navbar links={config.navLinks} client:load />
    <div class="prose prose-invert mx-auto pt-24 pb-16 px-4 md:px-0">
      <h1 class="m-0">{title}</h1>
      <p class="m-0"><FormattedDate date={date} /></p>
      <div class="mt-8 mb-8"></div>
      <Author handle={author} />
      {
        cover && (
          <>
            <div class="mt-2 mb-2" />
            <img class="m-0" src={cover} alt={coverAlt} />
          </>
        )
      }
      <hr class="my-8" />
      <slot />
      <BlogFooterPitch />
    </div>
    <Footer client:load />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      img {
        border-radius: 10px;
      }
    </style>
  </body>
</html>
