---
import '@fontsource/inter';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '@fontsource/inter/900.css';
import { config } from '../config';
import { Navbar } from '../components/Navbar.jsx';
import { Footer } from '../components/Footer.jsx';

import '../styles/Theme.css';

const { frontmatter } = Astro.props;

// Always use Astro.site (production url) rather than a test domain.
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <meta name="description" property="og:description" content={frontmatter.description} />
    <meta name="image" property="og:image" content="/open-graph.png" />
    <meta property="og:url" content={canonicalUrl} />
    <meta name="twitter:image" content="/open-graph.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href={canonicalUrl} />
    <script
      defer
      data-domain="shorebird.dev"
      src="https://plausible.io/js/script.tagged-events.js"></script>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Navbar links={config.navLinks} client:load />
    <div class="prose prose-invert mx-auto pt-24 pb-16 px-4 md:px-0">
      <slot />
    </div>
    <Footer client:load />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      img {
        border-radius: 10px;
      }
    </style>
  </body>
</html>
