---
import '@/styles/global.css';
import { Navbar } from '@/components/navbar';
import Footer from '@/components/footer.astro';

const { frontmatter } = Astro.props;

// Always use Astro.site (production url) rather than a test domain.
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <meta
      name="description"
      property="og:description"
      content={frontmatter.description}
    />
    <meta name="image" property="og:image" content="/open-graph.png" />
    <meta property="og:url" content={canonicalUrl} />
    <meta name="twitter:image" content="/open-graph.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href={canonicalUrl} />
    <script
      defer
      data-domain="shorebird.dev"
      src="https://plausible.io/js/script.js"></script>
    <title>Shorebird | {frontmatter.title}</title>
  </head>
  <body>
    <Navbar client:load />
    <article
      class="prose prose-invert mx-auto w-11/12 py-6 xl:w-10/12 2xl:w-[1280px]"
    >
      <slot />
    </article>
    <Footer />
    <style is:global>
      .prose {
        max-width: 80ch;
      }
    </style>
  </body>
</html>
