---
import '@/styles/global.css';
import { Navbar } from '@/components/ui/navbar';
import Footer from '@/components/footer.astro';

const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const coverUrl = new URL('/open-graph.png', Astro.url.origin);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="description" property="og:description" content={description} />
    <meta property="og:image" content={coverUrl} />
    <meta name="image" property="og:image" content={coverUrl} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="shorebird.dev" />
    <meta property="twitter:url" content={canonicalUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={coverUrl} />
    <meta name="twitter:site" content="@shorebirddev" />

    <!-- Analytics -->
    <script
      defer
      data-domain="shorebird.dev"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <Navbar client:load />
    <article
      class="prose prose-invert mx-auto w-11/12 py-6 xl:w-10/12 2xl:w-[1280px]"
    >
      <slot />
    </article>
    <Footer />
    <style is:global>
      .prose {
        max-width: 80ch;
      }
    </style>
  </body>
</html>
