---
import '@/styles/global.css';
import { Image } from 'astro:assets';
import { Navbar } from '@/components/navbar';
import { Spacer } from '@/components/spacer';
import Footer from '@/components/footer.astro';

const images = import.meta.glob("../assets/success-stories/*");

const storyImg = Astro.props.cover;
const title = Astro.props.title;
const description = Astro.props.description;
const highlights = Astro.props.highlights;

const coverUrl = new URL('/blog/open-graph.png', Astro.url.origin);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="description" property="og:description" content={description} />
    <meta name="image" property="og:image" content={coverUrl} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta name="twitter:image" content={coverUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:type" content="article" />
    <meta property="article:section" content="Technology" />
    <meta name="twitter:site" content="@shorebirddev" />

    <script
      defer
      data-domain="shorebird.dev"
      src="https://plausible.io/js/script.tagged-events.js"></script>
    <title>{`${title}`}</title>
  </head>
  <body>
    <Navbar client:load />
    <section
      class="mx-auto flex w-10/12 flex-col py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
    >
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-16">
        <div class="flex flex-col gap-6 items-start">
          <h2 class="text-4xl font-medium">{title}</h2>
          <span class="text-text-2">
            {description}
          </span>
          <Spacer />
          <span class="text-text-2">
            Highlights
          </span>
        </div>
        <div class="col-span-2">
          <!--<Image src={images[storyImg]} alt={title} />-->
          <div class="text-text-2">
            <article
              class="prose prose-invert mx-auto w-11/12 py-9 lg:pt-20 xl:w-10/12 2xl:w-[1280px]"
            >
              <slot />
            </article>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
