---
import '@/styles/global.css';
import { BlogCallout } from '@/components/blog/blog-callout';
import { ClockCountdown } from '@phosphor-icons/react';
import { Image } from 'astro:assets';
import { Navbar } from '@/components/navbar';
import { Spacer } from '@/components/spacer';
import Footer from '@/components/footer.astro';
const { title, description, cover } = Astro.props;
const coverUrl = new URL('/blog/open-graph.png', Astro.url.origin);
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);



---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="description" property="og:description" content={description} />
    <meta name="image" property="og:image" content={coverUrl} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:title" content={title} />
    <meta name="twitter:image" content={coverUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href={canonicalUrl} />
    <meta property="og:type" content="article" />
    <meta property="article:section" content="Technology" />
    <meta name="twitter:site" content="@shorebirddev" />

    <script
      defer
      data-domain="shorebird.dev"
      src="https://plausible.io/js/script.tagged-events.js"></script>
    <title>{`${title}`}</title>
  </head>
  <body>
    <Navbar client:load />
    <article
      class="prose prose-invert mx-auto w-11/12 py-9 lg:pt-20 xl:w-10/12 2xl:w-[1280px]"
    >
      <h1 class="text-text-1 text-center text-5xl md:px-24 lg:px-40 font-semibold">{title}</h1>
      <h2 class="text-3xl">{description}</h2>
      <Spacer className="h-4" />
      <img src="/assets/success-stories/{cover}" class="m-0!" />
      <div class="flex flex-row w-full items-center justify-center gap-2">

      </div>
      <Spacer className="h-12" />
      <div class="text-text-2">
        <slot />
      </div>
      <BlogCallout />
    </article>
    <Footer />
    <style is:global>
      .prose {
        max-width: 80ch;
      }
    </style>
  </body>
</html>
