---
import { Button } from '@/components/ui/button';
import { DiscordLogo } from '@/components/logos/discord-logo';
import { GitHubLogo } from '@/components/logos/github-logo';
import { LinkedInLogo } from '@/components/logos/linkedin-logo';
import { LogoFull } from '@/components/logos/logo-full';
import { Spacer } from '@/components/ui/spacer';
import { TwitterLogo } from '@/components/logos/twitter-logo';
import config from '@/config';
import { RssIcon } from '@phosphor-icons/react';
---

<footer
  class="border-border-1 border-t-[1px] px-6 py-12 md:px-12 lg:px-16 lg:py-24"
>
  <div class="mx-auto max-w-7xl">
    <div class="flex flex-col md:flex-row md:justify-between">
      <div class="mb-8 md:mb-0">
        <LogoFull className="w-36" />
        <Spacer />
        <p class="text-text-2 mb-6">Helping businesses succeed with Flutter.</p>
        <div class="mb-8 flex space-x-3">
          <a href={config.discordUrl}>
            <Button variant="outline" size="icon">
              <DiscordLogo className="size-5" />
            </Button>
          </a>
          <a href={config.githubUrl}>
            <Button variant="outline" size="icon">
              <GitHubLogo className="size-5" />
            </Button>
          </a>
          <a href={config.twitterUrl}>
            <Button variant="outline" size="icon">
              <TwitterLogo className="size-4" />
            </Button>
          </a>
          <a href={config.linkedInUrl}>
            <Button variant="outline" size="icon">
              <LinkedInLogo className="size-5" />
            </Button>
          </a>
          <a href="/rss.xml">
            <Button variant="outline" size="icon">
              <RssIcon className="size-5" />
            </Button>
          </a>
        </div>
        <a href={config.complianceUrl}>
          <img
            alt="ISO 27001 in progress badge"
            width="80"
            src="https://badges.oneleet.com/badge/a912b4a6-eb01-4cfb-9bff-2eac8d8e5aec?dark=true"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-x-12 gap-y-8 md:flex md:gap-x-24">
        <div>
          <h3 class="mb-4 text-sm font-light tracking-wider uppercase">
            Website
          </h3>
          <ul class="space-y-3">
            <li>
              <a href="/"> Home </a>
            </li>
            <li>
              <a href="/pricing"> Pricing </a>
            </li>
            <li>
              <a href="/about"> About </a>
            </li>
            <li>
              <a href="/blog"> Blog </a>
            </li>
            <li>
              <a href={config.docsUrl}> Docs </a>
            </li>
            <li>
              <a href="/faq"> FAQs </a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-4 text-sm font-light tracking-wider uppercase">
            Legal
          </h3>
          <ul class="space-y-3">
            <li>
              <a href="/privacy"> Privacy Policy </a>
            </li>
            <li>
              <a href="/terms"> Terms of Service </a>
            </li>
            <li>
              <a href="/legal/dpa"> DPA </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-12 pt-4">
      <p class="text-text-2">
        Copyright @{new Date().getFullYear()}
      </p>
    </div>
  </div>
</footer>
